/*

*{
border: solid red 1px;
}
*/


.calculator.container{
display: flex;
flex-direction: column;
background-color: rgb(35, 30, 30);
border: black solid 3px;
border-radius: 10px;
width: 600px;
height: 750px;
margin: 100px 700px 100px 700px;
}

.calculator.screen{
    background-color: rgb(141, 139, 139);
    height: 120px;
    margin: 30px 20px 30px 20px;
    display:flex;
    border: solid rgb(81, 79, 79) 2px;
    border-radius: 5px;
    align-items: end;
    justify-content: flex-end;
}

.calculator.nums{     
    font-size: 60px;
    font-family: sans-serif;
    margin-right: 5px;     
    overflow: hidden;
                                                                 
}

.calculator.buttons{
display:flex;
flex-direction: column;
align-items: center;
}

.calculator.buttons button{
background-color: rgb(38, 35, 35);
padding:10px 20px 10px 20px;
color: white;
border-color: black;
height: 80px;
width: 100px;
border-radius: 5px;
margin: 5px 5px 5px 5px;
}

.calculator.buttons button:hover{
    border-color: white;
}


#division_button{
background-color: rgb(60, 56, 56);
}

#multiply_button{
    background-color: rgb(60, 56, 56);
}

#subtract_button{
    background-color: rgb(60, 56, 56);
}

#add_button{
    background-color: rgb(60, 56, 56);
}

#clear_button{
    border-color: rgb(139, 11, 11);
    align-items: start;
}

#equal_button{
background-color: rgb(16, 14, 14);
}

