*{
border: solid red 1px;
}
.calculator.container{
display: flex;
flex-direction: column;
background-color: rgb(35, 30, 30);
border: black solid 1px;
border-radius: 10px;
width: 400px;
margin: 30px 500px 30px 600px;
}

.calculator.screen{
    background-color: rgb(141, 139, 139);
    height: 50px;
    margin: 30px 20px 30px 20px;
    display:flex;
    flex-direction: column;

}

.calculator.nums{
                                                                                       
}

.calculator.buttons{
display:flex;
flex-direction: column;
align-items: center;
gap: 5px;

}

.calculator.buttons button{
background-color: rgb(38, 35, 35);
padding:10px 20px 10px 20px;
color: white;
border-color: white;
height: 50px;
width: 60px;
}

#division_button{

}

#multiply_button{

}

#subtract_button{

}

#add_button{

}

#equal_button{
margin: 10px 0px 20px 0px;
width: 200px;
}

